@page
@model TechBlog.Pages.CreatePostModel
@{
    <h2>Create new post</h2>

    <form class="form post-form">
        <div class="form-group update-post mt-3">
            <span class="form-label">Title</span>
            <textarea class="form-control" id="title" aria-label="With textarea"></textarea>
        </div>
        <div class="form-group mt-3">
            <span class="form-label">Description</span>
            <textarea class="form-control" id="description" aria-label="With textarea"></textarea>
        </div>
        <div class="form-group mt-3">
            <span class="form-label">Username</span>
            <textarea class="form-control" id="username" aria-label="With textarea"></textarea>
        </div>
    </form>
    <div class="form-group d-flex justify-content-center mt-3">
        <button onclick="RazorFunction()" class="btn btn-primary w-100">Create</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script>
        function RazorFunction() {
            let title = $("#title").val();
            let description = $("#description").val();
            let username = $("#username").val();

            let data = {
                title: title,
                description: description,
                username: username
            };

            $.ajax({
                url: "https://localhost:7262/api/posts/create",
                method: "POST",
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function (response) {
                    console.log(response);
                    window.location.href = "https://localhost:7262/dashboard";
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }
        </script>
}
